server:
  applicationConnectors:
    - type: http
      port: 8080
      bindHost: 127.0.0.1
  adminConnectors:
    - type: http
      port: 8081
database:
  driverClass: com.mysql.jdbc.Driver
  user: daduboard
  password: daduboard
  url: jdbc:mysql://localhost:9889/dadu